/* Below the topnav styles the navigation bar to make it transform/animate to make it bigger like an effect and other styling*/

.topnav a {
  float: left;
  display: block;
  color: rgb(178, 182, 113);
  text-align: center;
  padding: 20px 21px;
  text-decoration: none;
  font-size: 21px;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

/*When mouse hovers over the pages link it creates the effect and styles it to make it fit with the background so it does not look bulky*/

.topnav a:hover {
  background-color: (60deg, rgba(98, 9, 121, 1) 0%, rgba(0, 255, 246, 1) 100%);
  color: white;
  transform: scale(1.2, 1);
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  margin: 15px;
  max-width: 125ch;
}

/*This is where the background has a colour that fades from purple to light blueish */

body {
  background: linear-gradient(60deg, rgba(98, 9, 121, 1) 0%, rgba(0, 255, 246, 1) 100%);
  color: wheat;
  line-height: 9mm;
}

#AboutMe {
  position: inherit;
  padding-top: 5.5vh;
  text-align: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  justify-content: left;
  font-size: 40px;
  padding: 10px;
  text-shadow: 2px 1.5px 5px greenyellow;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  justify-content: left;
  font-size: 40px;
  padding: 10px;
  text-shadow: 2px 1.5px 5px greenyellow;
}


#strongs {
  color: red;
}

/*This makes the image to stay on the left hand side of the page to make sure that text does not appear on the picture*/
.resize {
  width: 280px;
  height: 430px;
  padding: 10px;
  float: left;
}

.mid {
  text-align: center;
}

footer {
  padding: 6vh;
  text-align: center;
}

footer:link{
  color:red;
}

footer:visited{
  color:aqua;
}

footer:active{
  color:wheat;
}


/* Below is the section where my animation for the background starts*/

.squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* This sets out the main colour for the next couple li tags which will be shaped to square like shape*/

.squares li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: linear-gradient(56deg, rgba(98, 9, 121, 1) 0%, rgb(255, 0, 98) 100%);
  animation: animate 25s linear infinite;
  bottom: 0;
}

/*This styles for each and different li tag node in total 16 of them*/
.squares li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.squares li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.squares li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.squares li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.squares li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.squares li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.squares li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 5s;
}

.squares li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 5s;
  animation-duration: 45s;
}

.squares li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.squares li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.squares li:nth-child(11) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;

}

.squares li:nth-child(12) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 5s;
  animation-duration: 45s;
}

.squares li:nth-child(13) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 8s;
}

.squares li:nth-child(14) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 8s;
  animation-duration: 45s;
}

.squares li:nth-child(15) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.squares li:nth-child(16) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

/*This defines the start and end of the transformation and to ensure that they are a smooth transition between each style of the li tags*/
@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.9;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color:rgba(0, 255, 246, 1);
  font-size: 25px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/6 etc) */
.numbertext {
  color: rebeccapurple;
  font-size: 22px;
  font-weight: bolder;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.Logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}