.topnav a {
  float: left;
  display: block;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #555;
  color: white;
}

p {
  font-family: 'Caveat', sans-serif;
  font-size: 2rem;
  padding-left: 15px;
  margin: 15px;
  max-width: 120ch;
}

body {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #E5FFF9;
  color: #066051;
  line-height: 9mm;
  display: flex;
}

#AboutMe {
  position: absolute;
  top: 40px;
  padding-left: 0.1rem;
}

h1{
  text-align: center;
  font-size: 30px;
}

.resize {
  width: 280px;
  height: 430px;
  padding: 10px;
  float: left;
}

.mid{
  text-align: center;
}