.topnav a {
    float: left;
    display:block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
  }
  
  .topnav a:hover {
    background-color: #555;
    color: white;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 15px;
    max-width: 125ch;
  }

  body {
    /*Change colour of text*/
    color: red;
    line-height: 9mm;
  }

  #Backstory {
    position: inherit;
    padding-top: 5.5vh;
    text-align: center;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: left;
    font-size: 40px;
    padding: 10px;
    text-shadow: 2px 1.5px 5px greenyellow; /*Change colour of text shadow*/
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: left;
    font-size: 40px;
    padding: 10px;
    text-shadow: 2px 1.5px 5px greenyellow;
  }

  footer {
    padding: 6vh;
    text-align: center;
  }
  
  footer:link{
    color:red;
  }
  
  footer:visited{
    color:aqua;
  }
  
  footer:active{
    color:wheat;
  }