body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  width: 100%;
  height: 48px;
  background-color: #555555;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  background-color: #555555;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.navbar a:hover {
  opacity: 1;
}